<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>OSINT Tool Manager</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">OSINT Tool Manager</h1>
      <div class="row">
        <div class="col-md-4">
          <a href="{{ url_for('add_tool') }}" class="btn btn-primary btn-block"
            >Add Tool</a
          >
        </div>
        <div class="col-md-4">
          <a
            href="{{ url_for('remove_tool') }}"
            class="btn btn-danger btn-block"
            >Remove Tool</a
          >
        </div>
        <div class="col-md-4">
          <a
            href="{{ url_for('select_tool') }}"
            class="btn btn-success btn-block"
            >Select Tool</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
