<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Tool Inputs</title>
  </head>
  <body>
    <div class="container mt-5">
      <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3"
        >Back to Home</a
      >
      <h1 class="mt-5 mb-4">Tool Inputs</h1>

      <form method="post" action="/process" onsubmit="prepareData(this)">
        <div id="inputContainer">
          {% for item in tools %}
          <div class="mb-4">
            <h2>{{ item.tool.name }} requires the following inputs:</h2>

            <input
              type="hidden"
              name="{{ item.tool.name }}[tool_name]"
              value="{{ item.tool.name }}"
            />

            {% for input_name in item.input %}
            <div class="form-group">
              <label for="{{ input_name.name }}">{{ input_name.name }}</label>
              <input
                type="text"
                class="form-control"
                name="{{ item.tool.name }}[{{ input_name.name }}]"
                placeholder="Enter {{ input_name.name }}"
                required
              />
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>

        <button type="submit" class="btn btn-success mt-3">Run</button>
      </form>

      <script>
        function prepareData(form) {
          var formData = {};

          var inputs = form.querySelectorAll(".form-control");
          inputs.forEach(function (input) {
            var toolName = input.name.split("[")[0];
            var inputName = input.name.split("[")[1].split("]")[0];

            formData[toolName] = formData[toolName] || {};
            formData[toolName][inputName] = input.value;
          });

          // Convert formData to JSON
          var jsonData = JSON.stringify(formData);

          // Add a hidden input field to the form to send JSON data
          var jsonInput = document.createElement("input");
          jsonInput.type = "hidden";
          jsonInput.name = "json_data";
          jsonInput.value = jsonData;
          form.appendChild(jsonInput);
        }
      </script>
    </div>
  </body>
</html>
