<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Select Tool</title>
  </head>
  <body>
    <div class="container mt-5">
      <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3"
        >Back to Home</a
      >
      <h1 class="mt-5 mb-4">Select Tool</h1>

      <form method="post" action="/select" class="mb-4">
        <div class="mb-3">
          <label for="platform" class="form-label">Platform:</label>
          <select class="form-select" name="platform" id="platform">
            <option value="All">All</option>
            <option value="Instagram">Instagram</option>
            <option value="Twitter">Twitter</option>
            <option value="Telegram">Telegram</option>
            <option value="DarkWeb">DarkWeb</option>
          </select>
        </div>

        <div class="mb-3" id="capabilityContainer">
          <label class="form-label">Capabilities:</label>
          <!-- Checkbox options for Output Parameters -->
          {% for parameter in capability_parameters %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="capability"
              value="{{ parameter }}"
              id="{{ parameter }}"
            />
            <label class="form-check-label" for="{{ parameter }}"
              >{{ parameter }}</label
            >
          </div>
          {% endfor %}
        </div>

        <button type="submit" class="btn btn-success mt-3">Select</button>
      </form>

      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
        $(document).ready(function () {
          $("#platform").change(function () {
            var selectedPlatform = $(this).val();

            // Effettua una richiesta AJAX per ottenere le capability_parameters
            $.ajax({
              url: "/get_capabilities", // Sostituisci con il tuo URL del server
              method: "GET",
              data: { platform: selectedPlatform },
              success: function (data) {
                // Aggiorna dinamicamente le capability_parameters
                updateCapabilities(data.capability_parameters);
              },
              error: function () {
                console.error("Errore durante la richiesta AJAX");
              },
            });
          });

          function updateCapabilities(capabilities) {
            // Rimuovi tutte le caselle di controllo esistenti
            $("#capabilityContainer .form-check").remove();

            // Aggiungi nuove caselle di controllo per le capability_parameters associate alla piattaforma selezionata
            capabilities.forEach(function (capability) {
              var checkbox = $(
                '<div class="form-check">' +
                  '<input class="form-check-input" type="checkbox" name="capability" value="' +
                  capability +
                  '" id="' +
                  capability +
                  '">' +
                  '<label class="form-check-label" for="' +
                  capability +
                  '">' +
                  capability +
                  "</label>" +
                  "</div>"
              );
              $("#capabilityContainer").append(checkbox);
            });
          }
        });
      </script>
    </div>
  </body>
</html>
